# Derived From:
# http://kleber-swf.com/the-definitive-gitignore-for-unity-projects/

# ============= #
# Working Files #
# ============= #
node_modules/
npm-debug.log

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
bin
obj
ExportedObj/
*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj
*.pdb
*.pdb.meta

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
*~
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
